# Excecutables
*.exe
*.out

# Libraries and compiled binaries
*.a
*.o
*.lib

# vscode stuff
.vscode

# vim stuff
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*~
[._]*.un~

